/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin: auto;
	counter-reset: h2;

	width: 1080px; /* Testing */
}

.main-header {
	background: #0060a0;
	color: #fff;
	height: 85px;
	padding: 10px;
	font-family: sans-serif; /* TODO */
	font-size: 28px;
	margin-bottom: 40px;
}

.main-header svg, .main-header h1 {
	vertical-align: top;
	display: inline-block;
}

.structure h2 {
	margin: 10px;
}

h2 {
	padding: 10px 0;
}

nav {
	margin: 10px;
	padding: 0.5rem;
	border: 1px solid #0060a0;
	background-color: #f6f6f6;
}

nav a {
	color: #000;
}

nav a[href] {
	color: #0060a0;
	text-decoration: underline;
}

nav ul {
	list-style-type: none;
}

nav ul ul {
	margin-left: 1rem;
}

nav a[hreflang] {
	padding-left: 22px;
	background-size: 20px auto;
	background-repeat: no-repeat;
}

nav [hreflang=it] {
	background-image: url('../media/flag-it.svg');
}

nav [hreflang=fr] {
	background-image: url('../media/flag-fr.svg');
}

nav [hreflang=en] {
	background-image: url('../media/flag-en.svg');
}

section {
	padding: 0 20px;
}

article p {
	margin: 10px 0;
}

article h2 {
	counter-increment: h2;
	border-bottom: 1px solid #000;
	padding: 0;
	margin: 10px 0;
}

article h2:before {
	content: counter(h2) " ";
}

article .image {
	margin: 20px 20px 20px 0;
	float: left;
	width: 200px;
}

article .image img {
	width: 100%;
}

.calculator {
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	height: 625px;
	border: 0;
	width: 600px;
}

.tr-variants ul {
	list-style-type: none;
}

.tr-variants ul li {
	color: #0060a0;
}

.tr-variants ul ul {
	margin-left: 1rem;
}

.tr-variants ul ul li {
	color: #000;
}

.tr-variants ul ul li:before {
	content: "⌖ ";
}

small, .source {
	display: block;
	color: #808080;
	word-wrap: break-word;
	margin: 20px 0;
}

small a {
	color: #000;
}

.last-change {
	border: 1px dashed #000;
	padding: 2px;
	font-style: italic;
	margin: 20px 0;
}

.last-change time {
	float: right;
}

.video-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* images */

.graph {
	height: 280px;
}

/* text */



/* lists */

ol, ul {
	list-style-position: inside;
}

/* table */
.time-gain {
	width: 100%;
	border-collapse: collapse;
}

.time-gain tr {
	line-height: 40px;
}

.time-gain tr:nth-child(odd) {
	background-color: #dbe6ef;
}

.time-gain th {
	color: #fff;
	background-color: #0060a0;
	border-width: 2px 0;
	border-color: #000;
	border-style: solid;
}

.time-gain td {
	text-align: center;
}

.time-gain tr td:first-child {
	text-align: left;
	font-weight: bold;
}

/* forms */

fieldset {
	border-radius: 5px;
	border: 1px solid #c0c0c0;
	margin-bottom: 10px;
}

legend {
	margin-left: 10px;
}

label {
	display: block;
	line-height: 30px;
	padding: 0 10px;
	color: #808080;
}

input[type=text],
input[type=email],
input[type=url],
input[type=datetime-local],
input[type=search],
textarea {
	display: block;
	width: 100%;
	background-color: #f5f5f5;
	border: none;
	border-bottom: 1px solid #000;
	height: 30px;
	margin-bottom: 10px;
}

input[type=search] {
	width: auto;
	display: inline-block;
	margin-right: 5px;
}

select,
input[type=file] {
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}

textarea {
	resize: vertical;
	height: 100px;
}

#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

button {
	font-weight: bold;
	background: #0060a0;
	border: none;
	padding: 8px 16px;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 20px -5px #000;
}

button:hover {
	cursor: pointer;
}

.search {
	background: url('../media/icon-search.svg') 0 4px / 50% 70% no-repeat #0060a0;
	padding-left: 45px;
}

.emphasis {
	font-style: italic;
}

.main-footer {
	padding: 10px;
	margin-top: 20px;
	background-color: #0060a0;
	color: #fff;
	line-height: 26px;
}

.main-footer img {
	vertical-align: middle;
}

.main-footer a, .main-footer small {
	color: #fff;
}

.main-footer small {
	margin: 0;
}